/*
무료 폰트 : https://fonts.google.com
사용법:
    1) 원하는 폰트들을 +select this style 한다
    2) @import 의 텍스트를 복사해서 .css file 에 붙여넣음 
    3) 그 밑 텍스트들의 속성값을 복사해서 원하는 곳에서 font-family: 에 사용
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono:wght@300&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: tomato;
}

.container {
    max-width: 1024px;  /*해당 box 의 최대 크기 지정*/
    margin: auto;   /*브라우저 크기에 비례해서 box 중앙 자동 정렬*/
    border-right: 2px solid palegreen;
    border-left: 2px solid palegreen;
   
}

.text-center {
    text-align: center;
}

.text-light {
    color:var(--light);
}

.nav-brand{
    font-size: 3.5em;    /*현재 글꼴 크기의 3.5배 라는 뜻*/
}

.d-flex{
    display: flex;  /*flex 사용하면 내용물 전체 고유의 width 값 무시되고 한 줄로 정렬됨*/
    flex-wrap: wrap;    /*element width 고정값 유지 & 다음 줄로 정렬*/
}

.justify-between {
    justify-content: space-between;
}

.border-shadow{
    border:3px solid transparent;
    border-radius: 6px;
    box-shadow: 0px 0px 2px var(--dark);
}

.text-gradient {
    background: linear-gradient(to right, orangered, blue);
    /*아래 속성값 없으면 backround-color 값에 그라디언트 색상 들어감*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav {
    background-color: yellowgreen;
}

#site-main{
    margin-top: 5em;
    font-family: 'Roboto Mono', monospace;
}

#site-main .container .box-nav > a{
    padding: .5em 2em;
}

#site-main .container form{
    margin: 2em 0;
}

table {
    border-spacing: 1px;    /*cell 들 간 간격*/
    width: 100%;    /*부모와 같은 width 를 가짐. 없으면 자식들 box 크기 의 총 값*/
}

.line-nav th, .line-nav td {
    padding:.5em;
    vertical-align: bottom;     /* 같은 줄에 있는 element 들의 상하 정렬 기준*/
    border-top: 1px solid palegreen;
    text-align: center;
}

.line-nav tbody tr td:last-child{
    width: 21%;
}

.line-nav td > a.btn {
    padding: 0.2em 1em;
    margin: 0 .3em;
    background-color: brown;
}

.line-nav tbody tr:hover {
    background-color: coral;
}

.line-nav .t-head th {
    color: var(--light);
    background-color: var(--dark);
    border-color: blueviolet;
}

#add_user .inline-item,
#update_user .inline-item {
    display: inline;
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, tr,th,td{
        display:block;
    }
}


/* update html css*/

.form-title {
    margin-top: 1.5em;
}
.form-title > h2{
    padding: .5em 0em;
}
.new_user{
    max-width: 800px;
    margin: auto;
}

#add_user .form-item,
#update_user .form-item{
    margin: 1.5em;
}

#add_user .form-item input[type="text"],
#update_user .form-item input[type="text"]{
    width: 100%;
    margin-top: 1em;
    padding:.5em;
    border: 1.5px solid var(--dark);
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    
}

.form-item .radio {
    margin: 1em 2.5em;
    background-color: yellowgreen;
}

.radio input[type="radio"]{
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .form-label-radio:before{
    content: "";
    background:orangered;
    cursor: pointer;    /*적용안되는중*/

    position: relative;
    bottom: -.1em;
    
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .5em;

    border: 1px solid grey;

    margin-right: .35em;

    vertical-align: top;

    text-align: center;

    -webkit-transition: all 250ms ease;
    transitioin: all 250ms ease;
}

.radio input[type="radio"]:checked + .form-label-radio:before{
    background-color: cornflowerblue;
    box-shadow: inset 0 0 0 4px white;
}

.radio input[type="radio"]:hover + .form-label-radio:before{
    border-color: yellow;
}

.radio input[type="radio"]:focus + .form-label-radio:before{
    outline: none;
    border-color: blueviolet;
}

.radio input[type="radio"]:disabled + .form-label-radio:before{
    background: black;
    box-shadow: inset 0 0 0 4px white;
    border-color: violet;
}

#add_user .form-item .btn,
#update_user .form-item .btn {
    width: 100%;
    border: none;
    font-size: 1em;
    padding: .5em 1em;

    background-color: yellowgreen;

    cursor: pointer;
}

#add_user .form-item .btn:hover,
#update_user .form-item .btn:hover {
    background-color: tomato;
    color:yellow;
}