<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/crud_app/assets/css/style.css">
</head>
<body>
    <!--header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">User Management System</a>
                </div>
            </div>
        </nav>
    </header>
<!--/header-->
<!--main-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">All User</span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2>New User</h2>
                <span class="test-light">User the below form to create a new account</span>
            </div>
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-item">
                        <label for="name" class="form-label text-light">Name</label>
                        <input type="text" placeholder="NAME" name='name'>
                    </div>
                    <div class="form-item">
                        <label for="email" class="form-label text-light">Email</label>
                        <input type="text" placeholder="example@gmail.com" name='email'>
                    </div>
                    <div class="form-item">
                        <label for="gender" class="form-label text-light">Gender</label>
                        <div class="inline-item radio">
                            <input type="radio" name="gender" id="male">
                            <label for="male" class="form-label-radio">Male</label>
                        </div>
                        <div class="inline-item radio">
                            <input type="radio" name="gender" id="female">
                            <label for="female" class="form-label-radio">Female</label>
                        </div>
                    </div>
                    <div class="form-item">
                        <label for="status" class="form-label text-light">Status</label>
                        <div class="inline-item radio">
                            <input type="radio" name="status" id="active">
                            <label for="active" class="form-label-radio ">Active</label>
                        </div>
                        <div class="inline-item radio">
                            <input type="radio" name="status" id="inactive">
                            <label for="inactive" class="form-label-radio ">Inactive</label>
                        </div>
                    </div>
                    <div class="form-item">
                        <input class="btn" type="submit" value="완료">
                    </div>
                </div>
            </form>
        </div>
    </main>
<!--/main-->
</body>
</html>